body{
  background: #111;
  font-family: "Times New Roman", Times, serif;
  
}

#heading{
  color: #909;
  text-align: center;
  font-size: 30px;
  font-style: italic;
  text-decoration: underline;

}
#login-form {
    background-color: white;
    position:relative;
    width:450px;
    height:250px;
    font-size: 13px;
    line-height: 12px;
    font-weight: bold;
    color: black;
    border-radius: 100px;
    padding:10px;
    border: 1px solid #111;
    border: 1px solid #508;
    margin: auto;
    color: #909;
}

label{
  font-size: 2em;
  font-style: italic;
  margin-bottom: 1px;
  text-align: center;
  color: #909;
}

input    {
display:block;
border: 1px solid #909;
height: 25px;
}

